<!--
  ~ Copyright 2003-2017 Monitise Group Limited. All Rights Reserved.
  ~
  ~ Save to the extent permitted by law, you may not use, copy, modify,
  ~ distribute or create derivative works of this material or any part
  ~ of it without the prior written consent of Monitise Group Limited.
  ~ Any reproduction of this material must contain this notice.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.burcu.android.collectionwidget"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".stockwidget.StockWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_widget"/>
        </receiver>

        <!--android.permission.BIND_REMOTEVIEWS prevents applications from freely accessing your app widget's data-->
        <service
            android:name=".stockwidget.StockWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity android:name=".StockDetailActivity">
        </activity>

    </application>

</manifest>
